

.bg-grey {
  background-color: #f6f6f6;
}
.bg-white {
	background-color: #E4EDED;
}

.jumbotron {
  background-color: #CDC9C9;
  color: #000000;
  padding: 0;
  margin: 0;

}

.logot {
	width: 45px;
	height:50px;
	margin: 0;
	margin-top: 5px;
	padding: 0;
}


.container-fluid {
  padding: 60px 50px;
}


@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}


/* Add an orange color to all icons and set the font-size */
.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.panel {
  border: 1px solid #f4511e; 
  border-radius:0;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide; 
  /* The duration of the animation */
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  } 
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.servicio {
	
	width: 180px;
	height: 180px;
}

.logohead {
	width: 
}

.container-a {
	
  background-color: #D0D0D0;
  padding-top: 15px;
 margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}
.container-b {
	
  background-color: #ffffff;
  padding-top: 15px;
 margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}

.btn-square { 
border-radius: 0; 
font-family:sans-serif;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  
text-decoration: none;
color: #f4511e;
background: #f4511e;
padding: 10px 50px;
font-weight: normal;
text-transformation: uppercase;
transition: all 0.2s ease-in-out;
}
.btn-square {
color: rgba(255,255,255,1);
box-shadow: 0 5px 15px rgba(145,92,182,.4);
}

h4 {
  font-family:sans-serif;
  font-size: 13px !important;
 
  letter-spacing: 4px;
  padding: 10px 50px;
}

.pad {
	padding-bottom: 90px;
}


/*.btn-square:after {
  content: "";
  background: #000000;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-square:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}*/
