

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);	
}
li.dropdown:hover > .dropdown-menu {
    display: block;
	 background-color: #f4511e;
	 font-size: 1rem;
}

/* lineas */
hr {
	border-color:#f4511e;
	border-style:solid;
	width: 100%;
}

.hrhead{
	border-color:#f4511e;
	border-style:solid;
	width: 30%;
}
.hr1 {
	width: 100% !important;
	margin-top: 50%;
}

}
.bg-grey {
  background-color: #f6f6f6 !important;
  width: 100%;  
}


@media only screen and (max-width: 800px) {
  .col-sm-4 {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f6f6f6 !important;
  }
}

/*/
@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}
/*/

.bg-white {
	background-color: #E4EDED;
	
}

.jumbotron {
  background-color: #D8D8D8;
  color: #000000;
  padding-bottom: 0.625rem;
  margin: 0;

}

.logot {
	width: 35px;
	height:40px;
	margin: 0;
	margin-top: 5px;
	padding: 0;
}

.container-vert {
	display: inline-block;
	width: 40% ;
	align-items: center;
	
	
}

.container-fluid {
  padding: 3.75rem 3.125rem;  
}




/* Add an orange color to all icons and set the font-size */
.logo-small {
  color: #f4511e;
  font-size: 3.125em;
}

.logo {
  color: #f4511e;
  font-size: 12.5em;
}

.panel {
  border: 0.0625em solid #f4511e; 
  border-radius:0;
  transition: box-shadow 0.5s;
  width:100%;
  
}
.panel-body {
  height: 40rem;

}

.panel:hover {
  box-shadow: 0.3125rem 0rem 2.5rem rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 0.3rem solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}

.panel-heading {
  color: #fff !important;
  background-color: #f4511e !important;
  padding: 1.5625rem;
  border-bottom: 0.0625rem solid transparent;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 2em;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 0.875em;
}

.panel-footer .btn {
  margin: 0.9375em 0rem;
  border-radius: 0;
  width: 25rem;
  background-color: #f4511e;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .panel-footer .btn {
    float: none;

  }
}


.navbara {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 0.75em !important;
  line-height: 1.42857143 !important;
  letter-spacing: 0.25rem;
  border-radius: 0;

}

.navbara li a, .navbara .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide; 
  /* The duration of the animation */
  animation-duration: 1s; 
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  } 
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}


.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
/* imagenes */
.servicio {
	
	width: 11.25rem;
	height: 11.25rem;
}

@media only screen and (max-width: 800px) {
  .servicio {
    width: 22.25rem;
    height: 22.25rem;
  }
}


.productos {
	
	width: 15.625rem;
	height: 15.625rem;
}

.cctv {
	width: 100%;
	
}
.cctv-i{
	width: 60%;	
}

.prod-margin-top-1 {
	margin-top: 20%;
}
.prod-margin-top {
	margin-top: 40%;
}
.prod-margin {
	margin-left: 20%;
}

.text-margin {
	margin-left: 30%;
}
.brand-margin {
	margin-left: 15%;
@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .brand-fixed {
	    margin-left: 0 !important;
	    position:absolute !important;
	    }
}





}
.margin-top-0 {
	margin-top: -15% !important;
}
.logohead {
	width: 
}
.monitoreo {
	width: 35%;
}
/*containers*/
.container-a {
	
  background-color: #D0D0D0;
  padding-top: 0.9375rem;
 margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}
.container-b {
	
  background-color: #ffffff;
  padding-top: 0.9375rem;
 margin-left: 0;
margin-right: 0;
padding-left: 0;
padding-right: 0;
}

.btn-square { 
border-radius: 0; 
font-family:sans-serif;
  font-size: 0.75em !important;
  line-height: 1.42857143 !important;
  letter-spacing: 0.25rem;
  
text-decoration: none;
color: #f4511e;
background: #f4511e;
padding: 0.625rem 3.125rem;
font-weight: normal;
text-transformation: uppercase;
transition: all 0.2s ease-in-out;
}
.btn-square {
color: rgba(255,255,255,1);
box-shadow: 0 0.3125rem 0.9375rem rgba(145,92,182,.4);
}

h4 {
  font-family:sans-serif;
  font-size: 1em !important;
  
  letter-spacing: 0.25rem;
  padding: 0.625rem 3.125rem;
}

.h5style {
  font-family:sans-serif;
  font-size: 0.8125em !important; 
  letter-spacing: 0.0625em;
  text-align:left;
}

.h5corto {
	margin-bottom:5.625rem;
}



.pad {
	padding-bottom: 5.625rem;
}


/*.btn-square:after {
  content: "";
  background: #000000;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-square:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}*/
